<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_position</key>
	<integer>6</integer>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_position</key>
	<integer>7</integer>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_frame</key>
	<true/>
	<key>CPU_bar_chart_label</key>
	<true/>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChart_position</key>
	<integer>1</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_frame</key>
	<true/>
	<key>CPU_line_chart_label</key>
	<false/>
	<key>CPU_line_chart_value</key>
	<false/>
	<key>CPU_line_chart_valueColor</key>
	<false/>
	<key>CPU_mini_label</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>3</integer>
	<key>CPU_oneView</key>
	<true/>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>0</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_usagePerCore</key>
	<true/>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>Clock_state</key>
	<false/>
	<key>CombinedModules</key>
	<false/>
	<key>CombinedModules_popup</key>
	<true/>
	<key>Disk_position</key>
	<integer>3</integer>
	<key>Disk_state</key>
	<false/>
	<key>GPU_position</key>
	<integer>2</integer>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va1wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANAIA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAACAAAAAQEAAG1lAAAGAAAAAQEAAC5s
	b2NhbAAABQAAAAEBAABzaGFyZQAAAAcAAAABAQAAY2hlem1vaQAGAAAAAQEAAG1hbnVh
	bAAAGAAAAAEGAAAQAAAAIAAAACwAAAA8AAAATAAAAFwAAAAIAAAABAMAAKVBAAAAAAAA
	CAAAAAQDAACe/AMAAAAAAAgAAAAEAwAAsJMEAAAAAAAIAAAABAMAALGTBAAAAAAACAAA
	AAQDAACykwQAAAAAAAgAAAAEAwAAQkUGAAAAAAAYAAAAAQYAAIwAAACcAAAArAAAALwA
	AADMAAAA3AAAAAgAAAAABAAAQcXh7yJ+buEYAAAAAQIAAAIAAAAAAAAAHwIAAAAAAAAf
	AgAAAAAAAAAAAAABBQAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAA
	ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQA
	AEHG1RdMgAAAJAAAAAEBAABEQjBGRjNBQS03Q0IxLTREMzAtOTQ5My00QTM4NzM2NDI5
	RjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAADvEwAAAQAAAAEAAAABAQAALwAAADAAAAAB
	AgAAZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcmRsZgIAAAAAAAAA
	8AAAAP7///8BAAAAAAAAABMAAAAEEAAAbAAAAAAAAAAFEAAA7AAAAAAAAAAQEAAAHAEA
	AAAAAABAEAAADAEAAAAAAAACIAAA8AEAAAAAAAAFIAAAYAEAAAAAAAAQIAAAcAEAAAAA
	AAARIAAApAEAAAAAAAASIAAAhAEAAAAAAAATIAAAlAEAAAAAAAAgIAAA0AEAAAAAAAAw
	IAAAPAEAAAAAAAABwAAARAEAAAAAAAARwAAAIAAAAAAAAAASwAAAVAEAAAAAAAAB0AAA
	PAEAAAAAAAAQ0AAABAAAAAAAAAAX8AAAXAAAAAAAAAAi8AAA/AEAAAAAAAA=
	</data>
	<key>NSStatusItem Preferred Position CPU</key>
	<real>434</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>491 473 800 448 0 0 1728 1079 </string>
	<key>Network_position</key>
	<integer>5</integer>
	<key>Network_state</key>
	<false/>
	<key>RAM_barChart_position</key>
	<integer>2</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_frame</key>
	<false/>
	<key>RAM_bar_chart_label</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>4</integer>
	<key>RAM_lineChart_position</key>
	<integer>5</integer>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_frame</key>
	<true/>
	<key>RAM_line_chart_label</key>
	<false/>
	<key>RAM_memory_color</key>
	<string>monochrome</string>
	<key>RAM_memory_orderReversed</key>
	<true/>
	<key>RAM_memory_position</key>
	<integer>0</integer>
	<key>RAM_memory_symbols</key>
	<true/>
	<key>RAM_mini_alignment</key>
	<string>left</string>
	<key>RAM_mini_label</key>
	<true/>
	<key>RAM_mini_position</key>
	<integer>3</integer>
	<key>RAM_oneView</key>
	<false/>
	<key>RAM_pieChart_position</key>
	<integer>6</integer>
	<key>RAM_pie_chart_label</key>
	<true/>
	<key>RAM_pie_chart_monochrome</key>
	<false/>
	<key>RAM_position</key>
	<integer>1</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_label</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>7</integer>
	<key>RAM_text_position</key>
	<integer>1</integer>
	<key>RAM_widget</key>
	<string>memory</string>
	<key>Sensors_position</key>
	<integer>4</integer>
	<key>ble_c4-14-11-0c-39-c1</key>
	<false/>
	<key>dockIcon</key>
	<false/>
	<key>pause</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1747204204</integer>
	<key>telemetry</key>
	<true/>
	<key>telemetry_id</key>
	<string>241C70A7-B2D4-45B4-861A-573CDD81BFEF</string>
	<key>updater_check_ts</key>
	<integer>1747805675</integer>
	<key>version</key>
	<string>2.11.43</string>
</dict>
</plist>
