[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    safecrlf = true
[user]
    name = NAME
    email = EMAIL
[color]
    ui = true
[push]
    default = nothing
[credential]
    helper = cache --timeout=28800
[gui]
    encoding = utf-8
[alias]
    showaliases = config --get-regexp alias
    review = push origin HEAD:refs/for/master
    amend = commit --amend --no-edit --date=now
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[merge]
    ff = only
[pull]
    ff = only

